# Ignore build directories
/build/

# Ignore object files (*.o)
*.o
**/*.o

# Ignore the executable binary file 
hyprpaperchanger

# Ignore compiled libraries
*.a
*.so
*.dll

# Ignore core dumps (typically generated after crashes)
core

# Ignore backup files (created by editors like Vim, Emacs, etc.)
*~
*.bak
*.swp

# Ignore log files
*.log

# Ignore temporary files created by the editor or IDE
*.tmp
*.ide

# Ignore MacOS-specific files (e.g., .DS_Store)
.DS_Store

# Ignore directories used by some IDEs and editors
.vscode/
.idea/
